body{}
@media (min-width: 300px) {
    body{
        background-image: url("../img/17.jpg");
        background-repeat: no-repeat;
    }
}
@media (min-width: 1400px) {
    body{
        background-image: url("../img/1.jpg");
    }
}

.carousel-caption{
    background: url("../img/17.png") no-repeat;
    position: absolute;
    right: 0%;
    bottom: 0px;
    left: 0%;
    z-index: 10;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #fff;
    text-align: center;

}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: -68%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border: 2px solid #dcdcdc;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0);
}
.carousel-indicators .active {
    background-color: #fef27c;
    border: 2px solid #fef27c;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent transparent transparent;
}
.border-top{border-top: 3px solid #ad1a20 !important;font-size: 18px !important;color: #ad1a20}
.nav-tabs .nav-link{border: 0;background: inherit;border-top: 3px solid transparent;font-size: 16px;}
.nav-tabs .nav-link.active{color:#ad1a20;border: 0;background: inherit;;border-top: 3px solid transparent}
#nav-xz{background-image: url("../img/15.png");background-repeat:no-repeat;background-size: 380px ; background-position: center top;height: 299px;}


