body{background-color: wheat;padding-top: 90px;}
.g-secbuttom{width: 100%;height: 860px;position: relative}
#map{width: 100%;height: 860px;z-index: 99999}
#contentUS{width: 1200px;height: 860px;margin: 0 auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0;pointer-events: none}
#map_address{width: 557px;height: 860px;border-top:3px solid #F17304;position: absolute;right: 0;padding: 50px 0 35px 57px;background-color: white}
.add_title{width: 133px;height:36px;background-color: #122768;font-size: 16px;line-height: 36px;color: white;text-indent: 10px;}
.address_title{font-size: 36px;color: #405185;line-height: 72px;margin-bottom: 30px;font-weight: 300;font-family: "Microsoft YaHei";font-weight: bold}
.add_pro{width: 100%;height: 50px;display: flex;margin-bottom: 30px;}
.add_pro:last-child{margin-bottom: 75px;}
.add_pro>section{padding-left: 20px;}
.add_pro>section>em{font-size: 16px;color: #848484;height: 24px;line-height: 24px;}
figure div{border:1px solid #dcdcdc;width:208px;height: 208px; }
figure figcaption{text-align: center;width: 208px;font-size: 14px;color: #9e9e9e;height: 36px;line-height: 36px;}